body {
  background: #333;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  background: #202020;
  display: inline-block;
  width: 100%;
  padding: 13px 0px;
}

header h1 {
  margin: 0px;
}

header h1 a,
header h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.right-block ul {
  padding: 0px;
  margin: 0px;
}

.right-block ul li {
  float: left;
  list-style-type: none;
  margin: 0px 5px;
  position: relative;
}

.right-block ul li button {
  text-decoration: none;
  background: none;
  border: 1px #fff solid;
  color: #fff;
  border-radius: 0px;
}

.dropdown .dropdown-menu {
  background: rgb(0, 0, 0);
  -moz-transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
  min-width: 400px;
}

.right-block ul li .dropdown-menu li a {
  color: #000;
}

.right-block ul li .dropdown-menu label {
  color: #fff;
}

.custom-form {
  padding: 15px;
  left: -295px;
  display: block;
}

.coupon-field {
  padding: 65px 0px;
}

.my-coupon {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 100%;
}

.my-coupon ul {
  padding: 0px;
  margin: 10px 0;
}

.my-coupon ul li {
  list-style-type: none;
  margin-bottom: 15px;
  position: relative;
}

.my-coupon ul li .main-white-bg {
  background: #fff;
  display: inline-block;
  width: 100%;
}

.my-coupon h2 {
  margin: 0px;
  background: #202020;
  color: #fff;
  padding: 15px;
}

.left-block {
  background: #15a4fa none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 18px;
  padding: 3px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.left-block h4 {
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
}

.left-block span {
  display: inline-block;
  font-size: 18px;
  padding: 0px 5px;
}

.left-block p {
  font-size: 12px;
}

.right-b {
  float: left;
  padding: 13px 15px;
}

input[disabled] {
  color: #000 !important;
}

.space-block {
  display: inline-block;
  padding: 4px 20px;
  vertical-align: top;
  width: 100%;
}

.save-amount {
  background: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #000;
  border: 3px #000 solid;
  float: left;
  padding: 12px 22px;
  text-align: center;
}

.save-amount h4 {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.save-amount p {
  font-size: 20px;
}

.right-b h5 {
  font-size: 21px;
  color: #15a4fa;
  font-weight: 700;
}

.right-b button {
  background: #15a4fa;
  display: inline-block;
  width: 110px;
  border: 0px;
}

.right-b p {
  color: #000;
}

.my-coupon button.close-btn {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  position: absolute;
  right: 1px;
  top: -9px;
  width: 30px;
  height: 30px
}

@media screen and (max-width: 767px) {
  .logo,
  .right-block,
  .right-block ul li {
    float: none;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .right-block ul li button {
    width: 100%;
    margin-bottom: 10px;
  }
  .space-block {
    text-align: center;
  }
  .space-block .save-amount {
    display: inline-block;
    float: none;
  }
  .right-b {
    float: none;
    display: inline-block;
    width: 100%;
    padding: 0px;
  }
  .custom-form {
    left: 0;
    min-width: 100% !important;
    padding: 15px;
    width: 100%;
    top: 83px;
  }
}
